<ul id="navbar">
    <a href="/"><li id="nav-home">Home</li></a>
    <a href="/test"><li id="nav-chart">Charts</li></a>
    <a href="/about"><li id="nav-about">About</li></a>
    <a href="/help"><li id="nav-help">Help</li></a>
</ul>