<ul id="navbar">
    <div style="height: 100%; width: 15%; display: inline-block; margin-right: 20px">
    	<a href="/"><li id="nav-home"><img class="navimg" src="/img/glyphicon-home.png" /> Home </li></a>
    </div>
    <div style="height: 100%; width: 15%; display: inline-block; margin-right: 20px">
    	<a href="/charts"><li id="nav-chart"><img class="navimg" src="/img/glyphicon-stats.png" /> Charts </li></a>
    </div>
    <div style="height: 100%; width: 15%; display: inline-block; margin-right: 20px">
    	<a href="/about"><li id="nav-about"><img class="navimg" src="/img/glyphicon-note.png" /> About </li></a>
    </div>
    <div style="height: 100%; width: 15%; display: inline-block; margin-right: 20px">
    	<a href="/help"><li id="nav-help"><img class="navimg" src="/img/glyphicon-question.png" /> Help </li></a>
    </div>
</ul>