<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <script>
        $.ajax({type: "POST", url: "../api/stats", data: data}).done(function(d) {
            console.log(d);
        });
    </script>
</head>

<body>
    <h1>HELLO</h1>
    <div id="content">

    </div>
</body>
</html>