<!DOCTYPE html>
<html style="width:100%; height:100%">
<head>
    <% include partials/head.ejs %>
    <% include partials/search-bar-head.ejs %>

    <style>
        .my-line {
            fill: none;
            stroke-linejoin: round;
            stroke-linecap: round;
            stroke-width: 3;
        }

        .dot:hover {
            r: 10px;
        }

        .tooltip {
            position: absolute;
            text-align: center;
            padding: 10px;
            background: #f54;
            color: black;
            pointer-events: none;
            border-radius: 5px;
            border: 1px solid black;
        }

        .x-button {
            font-size: 3vw;
            position: absolute; 
            right: 10px; 
            top: -3px; 
            cursor: pointer; 
        }
        .x-button:hover {
            color: gray;
        }

        .chart-container {
            position: relative; 
            /*width: 45%;*/
            margin: 2%;
            float: left; 
            border: 1px solid black; 
            border-radius: 15px;
            /*-moz-transition: all 3s;
            -webkit-transition: all 3s;
            -o-transition: all 3s;*/
        }

        .autocomplete-suggestions { 
            border: 1px solid #000; 
            background: #fff; 
            cursor: pointer; 
            overflow: auto; 
            max-height: 65%;
        }

        .autocomplete-suggestion { 
            border-bottom: 2px solid #aaa; 
            padding: 10px 5px; 
            font-size: 2vh; 
            white-space: nowrap; 
            overflow: hidden; 

        }
        .autocomplete-selected { 
            background: #f54; 
        }

        .autocomplete-suggestions strong { 
            font-weight: bold; 
        }

        #search-box {
            font-size: 18px;
            width: 30%;
            vertical-align: top;
        }

        #search-button {
            padding: 0.5% 2%;
            vertical-align: top;
        }

        .layout-btn {
            border: 1px solid black;
            margin-left: -5px;
        }
    </style>
</head>

<body style="width:100%; height:100%">
    <form id="time-form" onsubmit="onTimeChange(); return false;">
        <div style="width: 100%; height: 100%; text-align: center;">
            <div flo>
                From:
                <input type="date" id="start-time" required></input>
            </div>
            <div>
                To:  
                <input type="date" id="end-time" required></input>
            </div>
            <button type="submit" class="btn btn-danger" id="time-button">Refresh</button>
        </div>
    </form>
    <div style="display: inline-block">
        <button class="layout-btn btn btn-default" id="top-layout-btn" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" onclick="changeLayout(this)">
            <img src="/img/glyphicon-rows.png" />
        </button>
        <button class="layout-btn btn btn-default" id="side-layout-btn" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" onclick="changeLayout(this)">
            <img src="/img/glyphicon-columns.png" />
        </button>
    </div>
    <form id="search-form" onsubmit="onCourseSearch(); return false;" style="text-align:center;">
        <div style="display: inline-block; width: 100%; height: 100%;">
            <input type="text" id="search-box" required></input>
            <button type="submit" class="btn btn-danger" id="search-button">Search</button>
        </div>
    </form>
    <h3 id="info-title"></h3>


    <script type=text/javascript src="test.js"></script>
    <script>

        var startDate;
        var endDate;
        var searchedCourses = new Set();

        // remove line chart
        function removeGraph(button) {
            var graph = $(button.parentNode)
            setTimeout(function() {
                graph.remove();
            }, 2000);

            searchedCourses.delete(graph.attr("class").substring(16));

            graph.fadeOut(500, function() {
                graph.css({"visibility": "hidden", "display": "block"}).animate({width:"toggle"}, 500);
            });
        }

        // create line chart on form submit
        function onCourseSearch() {
            var course = $("#search-box").val();
            searchedCourses.add(course);

            d3.json("/api/course/" + course, function(data) {
                genChart(data[course], course);
                $("#search-box").val("");
            });
        }

        // Update the time interval
        function onTimeChange() {
            var startVal = $("#start-time").val();
            var endVal = $("#end-time").val();

            startDate = startVal.substring(5) + "-" + startVal.substring(2, 4);
            endDate = endVal.substring(5) + "-" + endVal.substring(2, 4);

            $("#info-title").html("Showing Data for: " + startDate + " to " + endDate);

            // date objects dont convert str to date x browser well, so just use strings
            var dateString = startDate + "_" + endDate;

            for (var course of searchedCourses) {
                d3.json("/api/" + course + "/" + dateString, function(data) {
                    // need a new variable because variable 'course' will be overriden one loop moves
                    // while this function is still asnyc running
                    var courseName = Object.keys(data)[0];
                    updateChart(data[courseName], courseName);
                });
            }
        }

        // change the way the graphs are displayed next to each other
        function changeLayout(button) {

            if (button["id"] == "top-layout-btn") {
                d3.selectAll(".chart-container")
                    .transition()
                    .duration(1000)
                    .style("width", "90%");
            } else {
                d3.selectAll(".chart-container")
                    .transition()
                    .duration(1000)
                    .style("width", "45%");
            }
        }

        // initialize search box for autocomplete and validation
        d3.json("/api/courselist", function(data) {
            var searchBox = $("#search-box");

            searchBox.autocomplete({
                maxHeight: null,
                lookup: data,
                onSelect: function(selection) {
                    $("#search-box").val(selection['value']);
                }
            });

            var regex = ""
            data.forEach(function(d, i) {
                if (i == 0)
                    regex += d['value'];
                else
                    regex += "|" + d['value'];
            });

            searchBox.attr("pattern", regex);
        });

    </script>
</body>
</html>